@import url("https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  padding: 0;
  font-family: "Rawline";
  color: #e5e5e5;
  padding: 69px 0 0 0;
  z-index: 1; }

header {
  height: 69px;
  padding: 0 25px;
  background: #000;
  border-bottom: 1px solid #484848;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  header img {
    width: 118px; }
  header span {
    font-weight: bold;
    margin: 0 0 0 20px; }

h1 {
  font-weight: 400;
  font-size: 50px; }
